.Content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        "top-left    top-center    top-right   " 
        "center-left center        center-right" 
        "bottom-left bottom-center bottom-right";
    grid-template-columns: minmax(5%, 50px) 1fr minmax(5%, 50px);
    grid-template-rows: minmax(8%, 50px) 1fr minmax(8%, 50px);
    background-color: #00202e;

    .Title {
        position: absolute;
        margin: 0;
        display: flex;
        cursor: pointer;
        flex-flow: column;
        align-items: center;
        padding: 0.2rem;
    
        &.Active {
            display: none;
        }

        &:hover {
            animation: bounce 0.5s linear;
        }
    
        &.Top {
            --translate-x: 0;
            --translate-y: -0.5rem;
            grid-area: top-center;
            justify-self: center;
            align-self: flex-start;

            .Icon {
                margin-bottom: -0.8rem;
            }
        }
    
        &.Right {
            --translate-x: 0.5rem;
            --translate-y: 0;
            grid-area: center-right;
            align-self: center;
            justify-self: flex-end;
            writing-mode: sideways-rl;

            .Icon {
                margin-left: -0.8rem;
            }
        }
    
        &.Bottom {
            --translate-x: 0;
            --translate-y: 0.5rem;
            grid-area: bottom-center;
            align-self: flex-end;
            justify-self: center;
            flex-flow: column-reverse;

            .Icon {
                margin-top: -0.8rem;
                rotate: 180deg;
            }
        }
    
        &.Left {
            --translate-x: -0.5rem;
            --translate-y: 0;
            grid-area: center-left;
            justify-self: flex-start;
            align-self: center;
            writing-mode: sideways-lr;

            .Icon {
                margin-right: -0.8rem;
            }
        }

        .Label {
            text-transform: capitalize;
            font-variant: small-caps;
            font-weight: bold;
            font-family: AnekLatin, sans-serif;
            letter-spacing: 0.1rem;
            font-size: 1.2rem;
        }

        .Icon {
            font-size: 2rem;
        }
    }
    
    .Page {
        display: none;
        border-radius: 25px;
        overflow: hidden;
        grid-area: center;
        width: 100%;
        height: 100%;
        position: absolute;
    
        &.Active {
            display: block;
        }
    }
}

@keyframes bounce {
    0%, 50%, 100% {
        translate: 0 0;
    }  
    25%, 75% {
        translate: var(--translate-x) var(--translate-y);
    }
}

/* @keyframes bounce-right {
    0%, 50%, 100% {
        translate: 0 0;
    }  
    25%, 75% {
        translate: 0.5rem 0;
    }
}

@keyframes bounce-down {
    0%, 50%, 100% {
        translate: 0 0;
    }  
    25%, 75% {
        translate: 0 0.5rem;
    }
}

@keyframes bounce-left {
    0%, 50%, 100% {
        translate: 0 0;
    }  
    25%, 75% {
        translate: -0.5rem 0;
    }
} */

@keyframes underline-name {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}