---
import Layout from "../layouts/Layout.astro";

import Title from "../components/Title/Title"
import Contact from "../components/Contact/Contact"

import Projects from "../components/Projects/Projects"
import Controls from "../components/Controls/Controls"

import Copyright from "../components/Copyright/Copyright"
---

<Layout>

    <header>
        <Title />
        <Contact />
    </header>
    
    <main>
        <Projects client:load />
        <Controls />
    </main>

    <footer>
        <Copyright />
    </footer>
  
</Layout>