.Projects {
    display: grid;
    width: 100%;
    height: 100%;

    .Overview {
        --overview-gap: clamp(4px, 2rem, 4rem);
        position: relative;
        padding: var(--overview-gap);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--overview-gap);
        overflow-y: auto;
    
        .Card {
            perspective: 1000px;
            
            &.Rotated .Content {
                rotate: x 0.5turn;
            }
            
            .Content {
                position: relative;
                width: 400px;
                height: 250px;
                transition: rotate 1s;
                transform-style: preserve-3d;

                .Face {
                    position: absolute;
                    inset: 0;
                    transform-style: preserve-3d;
                    backface-visibility: hidden;
                    border-radius: 10px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
                    
                    :is(p) {
                        margin: 0;
                    }

                    &.Front,
                    &.Back {
                        overflow: hidden;
                        background-color: #ffffff;
                    }
                    
                    &.Front {

                        .Title,
                        .Tools {
                            position: absolute;
                            background-color: rgb(255 255 255 / 0.8);
                            backdrop-filter: blur(2px);
                        }
                        
                        .Title { 
                            left: 2rem;
                            top: 2rem;
                            
                            padding: 0.5rem 1rem;
                            border-radius: 0.5rem;
                            outline: 4px solid;

                            font-family: AnekLatin, sans-serif;
                            text-align: center;
                            
                            .Name {
                                font-size: 1.2rem;
                            }
                        }
                        
                        :is(video) {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                        }

                        .Tools {
                            right: 1rem;
                            bottom: 1rem;

                            padding: 0.25rem 0.5rem;
                            border-radius: 0.25rem;
                            outline: 2px solid;

                            display: flex;
                            gap: 0.5rem;
                            
                            :is(img) {
                                width: 25px;
                                height: 25px;
                                display: block;
                            }
                        }
                    }
            
                    &.Back {
                        rotate: x 0.5turn;
                        padding: 1rem 2rem;

                        .Info {
                            text-align: justify;
                        }

                        .Links {
                            padding-block: 1rem;
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            gap: 2rem;
                            justify-items: center;

                            :is(a) {
                                display: flex;
                                align-items: center;
                                gap: 0.5rem;
                                text-decoration: none;
                                color: var(--dark-color);
                            }
                        }
                    }
                }
            }
        }
    }

}