@import url("/icomoon/style.css");

@font-face {
    font-family: "AnekLatin";
    src:
      url("/AnekLatin-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Aileron";
    src:
      url("/Aileron-Regular.otf") format("opentype");
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Aileron, sans-serif;
    overflow: hidden;
}