---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import url("/icomoon/style.css");

	@font-face {
		font-family: "AnekLatin";
		src:
		url("/AnekLatin-Bold.ttf") format("truetype");
	}
	@font-face {
		font-family: "Aileron";
		src:
		url("/Aileron-Regular.otf") format("opentype");
	}

	body {
		margin: 0;
		padding: 0;
		font-size: 100%;
		font-family: Aileron, sans-serif;
		overflow: hidden;

		--main-background-color: hsl(198, 100%, 9%);
	}
</style>
